* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/*Make color adjuster. We have black and white depending on block*/
h3 {
  text-transform: uppercase;
  font: inherit;
  font-size: 18px;
}

h4 {
  text-transform: uppercase;
  font: inherit;
  font-size: 16px;
}

.bold {
  font: inherit;
  font-weight: bolder;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}

.block-header {
  text-align: center;
}
